body {
  font-family: degular, sans-serif;
  margin: 0;
}

a {
  color: black;
}


a:visited {
  text-decoration: none;
  color: none;
}


.root__container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navbar {
  width: 20vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1d1d;
  color: white;
}

.navbar__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95%;
  width: 95%;
  padding-left: 2em;
  /* align-items: center; */
}

.root-children__container {
  margin-left: 21vw;
}

.navbar__links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 25%;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.navbar__whitespace {
  height: 50%;
}

.navbar__links-wrapper a {
  text-decoration: none;
  color: white;
}

.navbar__logo {
  text-decoration: none;
    color: white;
}

.navbar__links-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 80%;
  color: white;
  text-transform: capitalize;
}

.navbar__images {
  width: 2em;
  margin-right: 1.2em;
  color: white;
  filter: invert(98%) sepia(2%) saturate(3%) hue-rotate(215deg) brightness(116%) contrast(100%);
}