body {
  margin: 0;
  font-family: degular, sans-serif;
}
.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  background-color: gainsboro;
  align-items: center;
  justify-content: space-around;
  position: fixed;
}

.body-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.body {
  margin-left: 22vw;
}

.heading {
  font-family: degular-display, sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;

}

/* exercise list */
.exerciseList-wrapper {
  display: flex;
  flex-wrap: wrap;
    width: 80%;
}

.exerciseList-card {
  width: 30%;

}

/* workout list */
.workout-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.workout-card {
  width: 30%;

}